.primary {
    width: 100%;
    height: 400px;
    font-size: 64px;
    color: white;
    background-color: hsl(13, 72%, 45%);
    background-color: hsl(14, 77%, 41%)
}
.secondary {
    width: 100%;
    height: 400px;
    font-size: 64px;
    color: white;
    background-color: hsl(209, 20%, 25%);
}